$rem-baseline: 16;

$white-background-color: #FFF;

$black-font-color: #0B132A;

$grey-font-color: #4F5665;
$light-grey-font-color: #AFB5C0;
$grey-background-color: #F8F8F8;

$orange-box-shadow-color: rgba(245, 56, 56, 0.35);
$light-orange-background-color: #FFFAFA;
$light-orange-button-background-color:#F00;
$orange-background-color: #F53838;
