$rem-baseline: 16;

$home-bgcolor: #ffc0cb;

$white-background-color: #FFF;

$black-font-color: #0B132A;

$grey-font-color: #4F5665;

$light-grey-font-color: #AFB5C0;

$grey-background-color: #F8F8F8;

$white-border-color: #fff;

$grey-border-color: #DDDDDD;

$white-font-color: #fff;
// :root {
// 	--home-color: #ffc0cb;
// }
