$rem-baseline: 16;

$home-bgcolor: #ffc0cb;


$white-background-color: #FFF;


$grey-font-color: #4F5665;

$light-grey-font-color: #AFB5C0;

$grey-background-color: #F8F8F8;

$white-border-color: #fff;

$grey-border-color: #DDDDDD;

$white-font-color: #fff;
$black-font-color: #0B132A;
$light-orange-button-background-color:#F00;
$white-background-color: #FFF;

// :root {
// 	--home-color: #ffc0cb;
// }
